{% extends "base.html" %}

{% block title %} Estoque {% endblock %}

{% block body %}
<header class="content-header mb-4 d-flex justify-content-between align-items-center">
    <div style="width: 100%;">
        <h1>Estoque Disponível</h1>
        <p>Veja a lista de todos os itens cadastrados</p>
    </div>
    <div>
        <a href="{{url_for('estoque.form_estoque')}}" class="btn btn-success">Cadastrar</a>
    </div>
</header>

<h3> Estoque por Gênero </h3>

<table class="default-table">
    <thead>
        <tr>
            <th> Gênero Alimentício </th>
            <th> Unidade de Medida </th>
            <th> Quantidade em Estoque </th>
        </tr>
    </thead>
    <tbody id="tabela-estoque">
     
    </tbody>
</table>

<h3> Estoque por Lote </h3>

<table class="default-table">
    <thead>
        <tr>
            <th> Gênero Alimentício </th>
            <th> Validade </th>
            <th> Quantidade em Estoque </th>
        </tr>
    </thead>
    <tbody id="tabela-lote">
     
    </tbody>
</table>

<script src="{{ url_for('static', filename = 'js/estoque.js')}}"></script>

{% endblock %}